// General Font Style

p, a, li {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merienda One', serif;
}

.font-family {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
}

.font-black {
  color: #101419;
}

.nav-links {
  font-family: 'Merienda One', serif;
  font-size: 1.6em;
  color: #101419;
}

.title-small {
  font-family: 'Merienda One', serif;
  font-size: 1.6em;
}

.title-medium {
  font-family: 'Merienda One', serif;
  font-size: 2em;
  color: #101419;
}

.title-large {
  font-family: 'Merriweather', serif;
  font-size: 2.4em;
  color: #101419;
}

html p {
  font-size: 1.2em;
  margin-bottom: .5em;
}

li {
  font-size: 1.2em;
}

.color-white {
  color: #fdfdfd;
}

.color-black {
  color: #4A4A4A;
}

.color-red {
  color: #720909;
}

.color-blue {
  color: #0c0c53;
}