// Color Scheme
.color-bg-white {
  background-color: #f7f9fb;
}

.color-bg-black {
  background-color: #4a4a4a;
}

.color-bg-red {
  background-color: #984447;
}

.color-bg-blue {
  background-color: #476c9b;
}

// General Page Setup
html {
  font-size: 62.5%;
  height: 100%;
  position: relative;
  margin: 0px;
  width: 100%;
}

body {
  background-color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  color: #4a4a4a;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
  width: 100%;
}
