// Campground Images
.slider {
  position: relative;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

// Review Formatting
.paragraph-format {
  white-space: pre-wrap;
}

// Info/Map Section Style
.info-container {
  background-color: #476c9b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 100px;
}

// Amenities Section Style
.amenities-container {
  display: flex;
  flex-direction: column;
  background-color: #F7F9FB;
  min-width: fit-content;
  text-align: center;
  padding: 20px;
  border: 1px solid #ADB5BD;
}

.map-container {
  max-width: 600px;
}